// Custom color variables.
$c-primary-foreground: #064273; // Brown for button texts and icons.
$c-primary-background: #064273; // Brown for container backgrounds.
$c-primary-accent: #1DA2D8; // Brown for emphasis on $c-primary-background.
$c-background: #DEF3F6;
$c-surface-light: #FCFCFC;
$c-surface-error: #FFDAD4;
$c-text-title: #064273; // For the title of a page.
$c-text-dark-primary: #2D1600; // For high emphasis text (i.e. headings).
$c-text-dark-secondary: rgba(51, 42, 34, 0.85); // For paragraphs.
$c-text-dark-tertiary: rgba(51, 42, 34, 0.7); // For supporting texts.
$c-text-dark-quaternary: rgba(51, 42, 34, 0.3); // For decorative/disabled elements.
$c-text-light-primary: #FFFFFF; // For high emphasis text.
$c-text-light-tertiary: rgba(255, 255, 255, 0.7); // For supporting texts.
$c-text-light-quaternary: rgba(255, 255, 255, 0.3); // For decorative/disabled elements.
$c-border-regular: #837468;
$c-border-faint: rgba(173, 119, 76, 0.3);
$c-error: #BA1B1B;

// vuetify-loader automatically bootstraps variables below, overriding the framework defaults.
// See https://vuetifyjs.com/en/features/sass-variables/#vue-cli-install.
// For valid prop names, see https://vuetifyjs.com/en/api/vuetify/#sass.
$border-radius-root: 0.5rem;
$material-light: (
        'background': $c-background,
        'navigation-drawer': $c-surface-light,
        'app-bar': $c-primary-background
);
